/*Gloogle fonts*/
@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Open+Sans:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --verdemiel: #ddf8ad;
  --verdeclaro: #9cd8a7;
  --verdemarino: #68b49f;
  --verdemedio: #559236;
  --verdeoscuro: #0b490d;
  --azul: #469091;
  --azulmedio: #376b78;
  --azuloscuro: #2f4858;
  --beigeClaro: #f0f0f0;
  --beigeMedio: #cac3bd;
  --blanco: #ffffff;
  --negro: #061706;
  --gris: #8999a2;
  --naranja: #865d23;
  --naranjaOscuro: #774b00;
  --whatsappColor: #00a884;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-main {
  position: fixed;
  width: 100%;
  background-color: #141614d8;
  z-index: 1;
  box-shadow: 2px 1px 15px var(--gris);
}

.menu-btn {
  position: absolute;
  color: var(--blanco);
  width: 100%;
  text-align: center;
  bottom: -34px;
  display: none;
}

.nav-main ul {
  width: 90%;
  margin: 1% auto;
  padding: 0 2%;
  display: flex;
  justify-content: space-evenly;
}

.nav-main ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 2.3rem;
  color: var(--blanco);
  font-weight: 500;
}

.nav-main ul li a:hover {
  border-bottom: solid 1px var(--naranja);
  transition: 0.4s;
}

body {
  background: url(/sources/img/standard/body3.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

header {
  height: 100vh;
}

header picture img {
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
  object-fit: cover;
  filter: opacity(50%);
  filter: brightness(60%);
  border-bottom-left-radius: 90%;
}

.welcome-text {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2,autofill);
  height: 100%;
  padding-left: 12%;
}

.welcome-text img { 
  position: absolute;
  grid-column: 2 /3;
  grid-row:  1 / 4;
  align-self: end;
  justify-self: end;
  width: 10vmax;
  padding: 3%;
  background: var(--negro);
  border-radius: 5px;
  bottom: 12px;
  right: 15px;
}
.welcome-text h1,
.welcome-text p,
.welcome-text a {
  grid-column: 1 / 2;
}

.welcome-text h1 {
  color: var(--azuloscuro);
  align-self: end;
  justify-self: left;
  font-size: 12vmax;
  font-family: "Kristi", cursive;
  font-weight: lighter;
}

.welcome-text p {
  color: var(--azuloscuro);
  font-size: 1.8vmax;
  font-weight: normal;
  max-width: 600px;
  min-width: 300px;
  justify-content: left;
}

.welcome-text a {
  justify-self: left;
  transform: translate(5%, -100%);
  width: 45%;
}

.btn-whatsapp {
  width: 70%;
  height: fit-content;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  padding: 10px 15px;
  background: var(--azuloscuro);
  color: var(--blanco);
  font-size: 1.7vmax;
  border: 1px solid #fff;
  align-items: center;
  justify-content: space-around;
  border-radius: 80px;
}

.btn-whatsapp:hover {
  background: var(--whatsappColor);
  transition: .2s ease-in-out;
}

/* about section*/

#nosotros {
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  padding: 2%;
}

#nosotros picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 6% 6% 6% 12%;
}

#nosotros picture img {
  width: 42vmax;
  height: 40vmax;
  object-fit: cover;
  border-radius: 50%;
}

#nosotros h1 {
  font-size: 8vmax;
  align-self: start;
  text-align: center;
  padding: 3% 5% 0% 5%;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-family: "Kristi", cursive;
  color: var(--azuloscuro);
  font-weight: normal;
}

#nosotros ul {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: stretch;
  font-size: 1.3vmax;
  font-weight: lighter;
  padding: 0% 8%;
  color: var(--azuloscuro);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nosotros ul li {
  padding: 5%;
  width: 100%;
}

#nosotros ul li i {
  color: var(--azul);
}

/*Ministerios Section*/


.ministerios-title {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.ministerios-title h1 {
  font-size: 8.5vmax;
  font-family: "Kristi", cursive;
  font-weight: normal;
  color: var(--azuloscuro);
}

/* Ministerios carousel*/

.carousel-ministerios {
  position: relative;
  margin: 0 auto;
  padding: 0 3% 3% 5%;
  width: 80%;
}

.carousel-previous,
.carousel-next {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  top: calc(50% - 60px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: var(--azulmedio);
  opacity: 90%;
}

.carousel-previous:hover,
.carousel-next:hover {
  opacity: 100%;
  color: var(--azuloscuro);
}

.carousel-previous {
  left: -30px;
}

.carousel-next {
  right: -30px;
}

.carousel-list {
  overflow: hidden;
}

.carousel-element img {
  width: 28vmax;
  object-fit: cover;
}

/*Carousel elements*/

.carousel-element {
  display: grid;
  grid-template-rows: repeat(2, autofill);
  position: relative;
  margin-top: 3%;
}

.carousel-element img {
  grid-row: 1 / 2;
  align-self: center;
  filter: brightness(88%);
  border: 1px solid #00000033;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.carousel-element .carousel-element-title {
  position: absolute;
  bottom: 24%;
  justify-self: center;
  background: var(--beigeMedio);
  width: 20vmax;
  font-size: 1.7vmax;
  font-family: 'Kristi', cursive;
  font-weight: normal;
  color: var(--naranja);
  padding: 2% 0%;
  text-align: center;
  border-radius: 25%;
  border: 1px solid #00000033;
}

.carousel-element .carousel-element-info {
  grid-row: 2 / 3;
  display: grid;
  font-size: 1.4vmax;
  background: var(--beigeMedio);
  color: var(--azuloscuro);
  text-align: center;
  padding: 8% 0 5% 0;
  border: 1px solid #00000033;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.carousel-element .carousel-element-info p {
  border-radius: 5%;
  justify-self: center;
  color: var(--azulmedio);
  padding: 0 2%;
}





/* Pastores Section */

#pastores {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2,autofill);
  grid-template-rows: repeat(2,autofill);
  padding: 1%;
  margin: 3%;
  position: relative;
}

#pastores h1 {
  grid-column: 1 / 3;
  font-family: "Kristi", cursive;
  color: var(--azuloscuro);
  font-weight: normal;
  text-align: center;
  font-size: 6vmax;
  align-self: center;
}

#pastores img {
  width: 35vmax;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: end;
  border-radius: 8%;
  box-shadow: 6px 5px 10px var(--gris);
}

#pastores .pastor,
#pastores .pastora {
  position: absolute;
  top: 30%;
  transform: translate(0,-50%);
  text-align: center;
}

#pastores .pastor h2,
#pastores .pastora h2 {
  font-size: 2.5vmax;
  font-weight: bold;
  color: var(--azuloscuro);
}

#pastores .pastor h3,
#pastores .pastora h3 {
  font-size: 1.1vmax;
  font-weight: normal;
  color: var(--azuloscuro);
}
#pastores .pastora {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  left: -1;
}

#pastores .pastor {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  right: 5%;
}

/* Horarios Section*/

#horarios {
  height: 85vh;
  align-items: center;
  background: url(/sources/img/standard/about2.jpg) no-repeat center center/cover;
  filter: brightness(80%);
}

.horarios-banner {
  height: 100%;
  width: 100%;
  padding-left: 10%;
  color: var(--blanco);
}

.horarios-banner h1 {
  font-family: 'Kristi', cursive;
  font-size: 12vmax;
  font-weight: lighter;
  padding-left: 10%;
}

.horarios-banner h2 {
  font-size: 3vmax;
  color: var(--beigeMedio);
}

.horarios-banner p {
  font-size: 1.5vmax;
  color: var(--beigeClaro);
}
/* Ofrendas Section*/
#ofrendas {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#ofrendas picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}

#ofrendas picture img {
  width: 38vmax;
}

#ofrendas .ofrendas-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: left;
  padding-right: 10%;

}
#ofrendas .ofrendas-title h1 {
  font-size: 8vmax;
  font-weight: normal;
  font-family: "Kristi", cursive;
  color: var(--azuloscuro);
  padding-top: 2%;
}

#ofrendas .ofrendas-title h2 {
  font-weight: bold;
  color: var(--azuloscuro);
  font-size: 2.8vmax;
  text-align: left;
  padding-top: 13%;
  width: 90%;
}

#ofrendas .ofrendas-comprobante {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#ofrendas .ofrendas-comprobante p {
  font-weight: lighter;
  font-size: 1.5vmax;
  width: 60%;
  color: var(--azuloscuro);
}
/* footer */

.footer {
  position: relative;
  background-color: var(--naranja);
  display: block;
  padding-top: 110px;
  padding-bottom: 90px;
}

.footer .peticiones-container {
  margin-bottom: 4%;
  width: 100%;
  height: 100%;
}

.peticiones-container .peticiones-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80%;
  margin: 0 auto;
}

.form-container {
  width: 55vmax;
}

.form-title {
  font-size: 2vmax;

}

.contact-form,
.form-group,
.form-group-input {
  width: 100%;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.form-label {
  display: block;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5vmax;
  color: var(--negro);
}

#group-content,
#group-validation {
  grid-column: span 3;
}

.form-group-input {
  position: relative;
}

.form-input {
  background: var(--beigeClaro);
  width: 100%;
  font-size: 1vmax;
  border: 3px solid transparent;
  border-radius: 100px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
}
.form-input:hover {
  box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.212);
}

.form-input:focus {
  border: 3px solid var(--azulmedio);
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.178);
}

.form-group-input-error {
  font-size: 12px;
  font-weight: bold;
  margin: 2px 3px 0px 10px;
  font-weight: lighter;
  color: var(--beigeMedio);
  display: none;
}

.form-group-input-error-active {
  display: block;
}

.form-state-validation {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 50;
  font-size: 16px;
  opacity: 0;
}

.form-textarea {
  width: 100%;
  height: 14vmax;
  padding: 1%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vmax;
  border-radius: 10px;
  background: var(--beigeClaro);
  resize: none;
  transition: .1s ease all;
  outline: none;
}

.form-textarea:focus {
  border: 2px solid var(--azulmedio);
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.178);
}

.form-message {
  height: 45px;
	line-height: 45px;
  font-size: 1.2vmax;
	background: #f6606080;
	padding: 0 15px;
	border-radius: 3px;
  display: none;
}

.form-message-active {
  display: block;
}

.form-group-submit {
  display: flex;
  flex-direction: column;
}

.form-btn {
  margin: 5px 0;
  align-self: end;
  height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	transition: .4s ease all;
  font-size: 1.5vmax;
}

.form-btn:hover {
  background: var(--azuloscuro);
  box-shadow: 1px 0px 10px rgba(163, 163, 163, 0.349);
}


.form-message-success {
  font-size: 1.2vmax;
  padding: 2px 15px;
  background-color: #a4f6607a;
  border-radius: 3px;
  display: none;
  align-self: center;
}

.form-message-success-active {
  display: block;
}


/*Styles Validation Form */

.form-group-correct .form-state-validation {
  color: #a4f660;
  opacity: 1;
}

.form-group-incorrect .form-state-validation {
  color: #f66060b9;
  opacity: 1;
}

.form-group-incorrect .form-input {
  border: 3px solid #f66060;
}

.form-textarea-incorrect .form-textarea{
  border: 3px solid #f66060;
}

.peticiones-container .peticiones-info .contact-info {
  background: var(--naranjaOscuro);
  padding: 3%;
  border-radius: 10%;
  height: 30vmax;
  display: grid;
  align-items: center;
}

.peticiones-info .contact-info .email {
  align-self: start;
}

.peticiones-info .contact-info .phoneNumber, 
.peticiones-info .contact-info .email {
  border-bottom: 1px solid #0000004b;
  padding-bottom: 2%;
  width: fit-content;
}

.peticiones-info .contact-info h1 {
  font-size: 2vmax;
  color: var(--beigeMedio);

}

.peticiones-info .contact-info h2 {
  color: var(--beigeClaro);
  font-size: 1.3vmax;
  font-weight: normal;
}

.footer-end {
  display: flex;
  justify-content: space-around;
  background-color: var(--naranjaOscuro);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  align-items: center;
}

.footer-end .rights {
  font-size: 1.2vmax;
  color: var(--beigeMedio);
}

.footer-end .footer-social-media a {
  color: var(--negro);
}

.footer-end .footer-social-media a:hover{
  color: var(--gris);
  transition: .5 ease-in-out;
}

.footer-end .footer-social-media i {
  padding: 0 10px;
}