/*Gloogle fonts*/
@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Open+Sans:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

:root {
  --verdemiel: #ddf8ad;
  --verdeclaro: #9cd8a7;
  --verdemarino: #68b49f;
  --verdemedio: #559236;
  --verdeoscuro: #0b490d;
  --azul: #469091;
  --azulmedio: #376b78;
  --azuloscuro: #2f4858;
  --beige: #f0f0f0;
  --blanco: #ffffff;
  --negro: #061706;
  --gris: #8999a2;
  --naranjaoscuro: #865d23;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-main {
  position: fixed;
  width: 100%;
  background-color: #14161450;
  z-index: 1;
  display: none;
}

.nav-main ul {
  width: 90%;
  margin: 2% auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-main ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 2.3rem;
  color: var(--blanco);
  font-weight: 500;
}

.nav-main ul li a:hover {
  background-color: var(--verdemedio);
  transition: 0.4s ease-in-out;
  border-radius: 90%;
}

header {
  height: 100vh;
}

header picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.welcome-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.welcome-text img {
  position: absolute;
  top: 25%;
  left: 8%;
  width: 30vmax;
  height: 23vmax;
}

.welcome-text h1 {
  position: absolute;
  top: 15%;
  right: 25%;
  color: var(--beige);
  font-size: 10vmax;
  font-family: "Kristi", cursive;
  font-weight: lighter;
}

.welcome-text p {
  position: absolute;
  top: 45%;
  left: 69%;
  transform: translate(-69%, -45%);
  color: var(--beige);
  font-size: 2vmax;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  max-width: 600px;
  min-width: 300px;
}

.btn-whatsapp {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  bottom: 40%;
  left: 70%;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

body {
  background: url(/sources/img/standard/body3.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

/* about section*/

#nosotros {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  padding: 2%;
}

#nosotros picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 6% 6% 6% 12%;
}

#nosotros picture img {
  width: 42vmax;
  height: 40vmax;
  object-fit: cover;
  border-radius: 50%;
}

#nosotros h1 {
  font-size: 8vmax;
  align-self: start;
  text-align: center;
  padding: 3% 5% 0% 5%;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-family: "Kristi", cursive;
  color: var(--azuloscuro);
  font-weight: normal;
}

#nosotros ul {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: stretch;
  font-size: 1.3vmax;
  font-weight: lighter;
  padding: 0% 8%;
  color: var(--azuloscuro);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nosotros ul li {
  padding: 5%;
  width: 100%;
}

#nosotros ul li i {
  color: var(--azul);
}

/*Ministerios Section*/

#ministerios {
}
.ministerios-title {
  width: 100%;
  margin-top: 5%;
  text-align: left;
  padding-left: 16%;
}

.ministerios-title h1 {
  font-size: 8.5vmax;
  font-family: "Kristi", cursive;
  font-weight: normal;
  color: var(--azuloscuro);
}

/* Ministerios carousel*/

.carousel-ministerios {
  position: relative;
  margin: 4%;
  padding: 1%;
}

.carousel-previous,
.carousel-next {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  top: calc(50% - 60px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: var(--negro);
  opacity: 60%;
}

.carousel-previous:hover,
.carousel-next:hover {
  opacity: 100%;
}

.carousel-previous {
  left: -30px;
}

.carousel-next {
  right: -30px;
}

.carousel-list {
  overflow: hidden;
}

.carousel-element {
  text-align: center;
}

.carousel-element img {
  width: 40vmax;
}


/* Pastores Section */

#pastores {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  padding: 1%;
  margin: 3%;
  position: relative;
}

#pastores h1 {
  grid-column: 1 / 3;
  font-family: "Kristi", cursive;
  color: var(--azuloscuro);
  font-weight: normal;
  text-align: center;
  font-size: 6vmax;
  align-self: center;
}

#pastores img {
  width: 35vmax;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  border-radius: 8%;
  box-shadow: 6px 5px 10px var(--gris);
}

#pastores .pastor,
#pastores .pastora {
  position: absolute;
  top: 43%;
  transform: translate(0,-50%);
  text-align: center;
}

#pastores .pastor h2,
#pastores .pastora h2 {
  font-size: 2.5vmax;
  font-weight: bold;
  color: var(--azuloscuro);
}

#pastores .pastor h3,
#pastores .pastora h3 {
  font-size: 1.1vmax;
  font-weight: normal;
  color: var(--gris);
}
#pastores .pastora {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  left: -1;
}

#pastores .pastor {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  right: 5%;
}

/* Horarios Section*/

#horarios {
  height: 100vh;
  display: grid;
  align-items: center;
}

.horarios-banner {
  height: 80%;
  width: 100%;
  background: url(/sources/img/standard/about2.jpg) no-repeat center center/cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat();
}


/* Ofrendas Section*/
#ofrendas {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#ofrendas picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}

#ofrendas picture img {
  width: 38vmax;
}

#ofrendas .ofrendas-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: left;
  padding-right: 10%;

}
#ofrendas .ofrendas-title h1 {
  font-size: 8vmax;
  font-weight: normal;
  font-family: "Kristi", cursive;
  color: var(--azuloscuro);
  padding-top: 2%;
}

#ofrendas .ofrendas-title h2 {
  font-weight: bold;
  color: var(--azuloscuro);
  font-size: 2.8vmax;
  text-align: left;
  padding-top: 13%;
  width: 90%;
}

#ofrendas .ofrendas-comprobante {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#ofrendas .ofrendas-comprobante p {
  font-weight: lighter;
  font-size: 1.5vmax;
  width: 60%;
  color: var(--azuloscuro);
}
/* footer */

footer {
  background-color: var(--naranjaoscuro);
  display: block;
  height: 40vh;
}